/************************************
** ブログカードのスタイル
************************************/
.blog-card{
  margin:20px 0;
  max-width:100%;
  width:500px;
  position:relative;
  clear:both;
  min-height:155px;
  min-width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*  overflow: auto;
  zoom: 1;*/
}

.internal-blog-card{
  padding:12px 12px 0;
  border:1px solid #ddd;
  word-wrap:break-word;
  border-radius:5px;
}

.external-blog-card{
  border: 0;
  background-color: transparent;
  overflow: hidden;
}

.blog-card img{
  border:0;
}

.blog-card-thumbnail{
  float:left;
}

img.blog-card-thumb-image{
  width: 100px;
  height: 100px;
}

.blog-card-content{
  margin-left:110px;
  line-height:120%;
}
.blog-card-title{
  margin-bottom:5px;
}

.blog-card-title a{
  font-weight:bold;
  text-decoration:none;
  color:#111;
}

.blog-card-excerpt{
  color:#333;
  font-size:90%;
}

.blog-card-footer{
  font-size: 0.7em;
  color:#777;
  clear:both;
  margin-top: 3px;
}

.blog-card-site{
  float: left;
  margin-right: 7px;
  margin-top: 1px;
}

.blog-card-hatebu{
  float: left;
  margin-right: 7px;
}

.blog-card-date{
  float: right;
  margin-top: -1px;
}

.blog-card-site a{
  color:#777;
  text-decoration:none;
  position:relative;
  top:-3px;
}

.blog-card-favicon{
  margin-right:3px;
}

.blog-card-favicon-img{
  width:16px;
  height:16px;
}

/* IE10以降 */
@media all and (-ms-high-contrast:none){
  .blog-card-favicon {
    display:none;
  }
}

.clear{
  clear:both;
}

@media screen and (max-width:524px){
  .blog-card{width:auto;}
}